@font-face {
    font-family: 'figTree'; /* Name you will use in CSS */
    src: url('assets\fonts\Figtree-Italic-VariableFont_wght.ttf') format('truetype'),
         url('assets\fonts\Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;  /* or specify weights */
    font-style: normal;   /* or specify style (e.g., italic) */
}

/* Additional @font-face declarations for other weights or styles */


body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    border: solid;
    border-radius: 20px;
    box-shadow: 8px 8px;
    background-color: hsl(0, 0%, 100%);
    max-width: 334px;
    max-height: 522px;
}
.image {
    height: 200px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 10px;
}
.subcontainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 14px;
    font-family: 'figTree';
    font-weight: 500;
}

.titleBox {
    width:fit-content;
    padding: 4px 12px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.presetOne {
    font-size: 24px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}
.presetOne:hover {
    color: hsl(47, 88%, 63%);
}

.presetTwo {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}

.author {
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
    font-family: 'figTree';
    display: flex;
    gap: 12px;
    align-items: center;
}

.author img {
    height: 32px;
    width: 32px;
}